<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>
    <title th:text="${title}">Home</title>
</head>
<body>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus illum impedit magnam molestias quisquam quod saepe, sapiente sint! Consequuntur dicta error iure magnam necessitatibus neque quaerat, ratione rem rerum totam.</p>



<script type="text/javascript" src="/3rdparty/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/3rdparty/jqueryBrowserExtension.js"></script>
<script type="text/javascript" src="/3rdparty/lodash.min.js"></script>
<script type="text/javascript" src="/3rdparty/lodash.ext.js"></script>
<script type="text/javascript" src="/3rdparty/knockout-2.2.1.min.js"></script>

<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>